/* init */
@import "./init/reset.css";
@import "./init/variables.css";
@import "./init/layout.css";
@import "./init/base.css";
/* 3rd party */
@import "./3rd-party/font-awesome.min.css";
/* components */
@import "./components/footer.css";
@import "./components/header.css";
@import "./components/button.css";

/* CUSTOM STILIUS SEKCIJOMS */
/* Loading page*/
/* Header */
/* Navigation */
/* Hero */
/* About */
.container > .row > .cards{
}
.container > .row > .cards > .card {
    background-color: #fff;
    border-radius: 20px;
    margin: 20px;
    padding: 40px;
}
.container > .row > .cards:hover > .card{
    background: linear-gradient(135deg, var(--color-blue), var(--color-green));
} 
/* About video */
/* Achievements */
/* Services */
/* Latest project */
/* Partner section */
/* How we work */
/* Blog */
/* Contacts */
/* Footer */
