.large-pages-menu, 
.large-home-menu {
  display: inline-block;
}

.large-pages-menu #pages-dropdown,
.large-home-menu #home-dropdown {
  display: none;
  position: absolute;
  background: white;
  line-height: 20px;
  box-shadow: 0px 5px 30px rgba(0,0,0,0.1);
}
.large-pages-menu #pages-dropdown {
transform: translate(-40%, 0%);
  width: 525px;
}


.large-pages-menu #pages-dropdown div {
  display: inline-block;
  float: left;
}
.large-pages-menu  #pages-dropdown  a,
.large-home-menu #home-dropdown a {
  color: black;
  margin: 0;
  padding: 0;
  display: block;
  margin: 20px;
  margin-left: 25px;
  text-align: left;
  font-size: 14px;
  transition: all 1s ease 0s;
  width: 170px;
}

.large-pages-menu:hover #pages-dropdown,
.large-home-menu:hover #home-dropdown{
  display: block;
}

.large-pages-menu  #pages-dropdown  a:hover,
.large-home-menu #home-dropdown a:hover {
  color: var(--color-blue);
}

/* CUSTOM */

/* large home dropdown */
.large-home-menu #home-dropdown a:first-of-type {
  color: var(--color-blue);
}
.large-pages-menu  #pages-dropdown  a {
width: 130px;
}