/* MENU */
header nav.menu {
  /* display: inline-block;
  text-align: right; */
  display: flex;
  flex-direction: row;
  font-size: 16px;
  
}


/* MENU ITEMS (div & a) */
header .item {
  display: inline-block;
}
header nav.menu > a.item,
header nav.menu > div.item > .label
 {
  margin-right: 30px;
  color: white;
}
header nav.menu > a.item:hover,
header nav.menu > div.item > .label:hover
 {
  color: #cccccc;
  transition: all 0.5s ease 0s;
}
/* home custom style */
header nav.menu > div.item:first-of-type > .label{
  color: #cccccc;
}

/* menu item that has a dropdown a name */
header .label {
}

/* menu item div with a.label and submenu div */
header .dropdown {
}

/* submenu div */
header .submenu {
  display: none;
  /* flex-direction: column; */
  position: absolute;
  background: white;
  line-height: 20px;
  width: auto;
  box-shadow: 0px 5px 30px rgba(0,0,0,0.1);
  text-align: left;
  max-height: 200px;
  flex-wrap: wrap;
  padding: 10px;
}

header .submenu a.item {
  color: black;
  display: block;
  padding: 10px 30px 10px 10px;
  position: relative;
  transition: all 1s ease 0s;
  font-size: 14px;
}
header .submenu a.item:hover {
  color: var(--color-blue);
  
}
/* SHOW DROPDOWN */
.header nav .dropdown:hover > .submenu {
  display: flex;
  flex-direction: column;
}


/* SMALL MENU ICON */
nav.small-menu a i {
  position: relative;
  top: -2px;
  margin-right: 8px;
  font-size: 16px;
} */






/* small menu */
.small-menu .small-menu-dropdown {
  /* display: block; */
  width: calc(100% - 30px);
  margin: 0 15px;
  background: #5ec879;
  position: absolute;
  left: 0;
}
.small-menu .small-menu-dropdown div {
  border-bottom: 1px solid #07AE9C;
  line-height: 48px;
  text-align: left;
  padding-left: 20px;
}
.small-menu .small-menu-dropdown span {
  background: #4DAF9D;
  float: right;
  width: 48px;
  text-align: center;
  cursor: pointer;
}

/* small menu responsive */
@media (min-width: 575px) {
  .small-menu .small-menu-dropdown {
    width: 540px;
    margin-left: calc(50% - 270px);
    margin-right: calc(50% - 270px);
  }
}
@media (min-width: 767px) {
  .small-menu .small-menu-dropdown{
    width: 720px;
    margin-left: calc(50% - 360px);
    margin-right: calc(50% - 360px);
  }
}
