/* fonts */
@font-face {
    font-family: 'Poppins';
    src: url(../../fonts/Poppins/Poppins-Black.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Poppins';
    src: url(../../fonts/Poppins/Poppins-Bold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

/* Background colors */
.bg-hero {
    background-image: url(../../img/backgrounds/header_bg.jpg)
}
.bg-grey {
    background-color: var(--color-lightgrey); /* for services and blog */
}
.bg-white {
    background-color: #fff;
}
.bg-achievements {
    background: linear-gradient(var(--color-blue), var(--color-green))
}
.bg-partner {
    background-image: url(../../img/backgrounds/partner-bg.jpg)
}
.bg-contact {
    background-image: url(../../img/backgrounds/contact-bg.jpg);
}
.bg-footer {
    background-image: url(../../img/backgrounds/footer-bg.jpg);
}

/* text align */

.center {
    text-align: center;
}
.left {
    text-align: left;
}
/* Title background settings */
.bg-title-center {
    background: linear-gradient(90deg, #01a0f9 45%, #09c778 60%);
    background-repeat: no-repeat;
    background-size: 108px 8px;
    background-position: center 23px;
    z-index: -1;
}
.bg-title-left {
    background: linear-gradient(90deg, #01a0f9 45%, #09c778 60%);
    background-repeat: no-repeat;
    background-size: 108px 8px;
    background-position: left 23px;
    z-index: -1;
}
/* margins */
.mb26 {
    margin-bottom: 26px;
}
.mb50 {
    margin-bottom: 50px;
}
/* base styles */
p {
    font-size: 12px;
    font-weight: 400;
    line-height: 26px;
    color: #666666;
}
.text-white {
    color: #fff;
}
/* h1, h2, h3, font size and style on different devices */
@media (max-width: 574px) {    
    h1 {
        font-size: 28px;
    }
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 17px;
    }
    .bg-title-center {
        background-size: 150px 10px;
        background-position: center 18px;
    }
}
@media (min-width: 575px) {    
    h1 {
        font-size: 28px;
    }
    h2 {
        font-size: 26px;
    }
    h3 {
        font-size: 18px;
    }
    .bg-title-center {
        background-size: 135px 8px;
        background-position: center 24px;
    }
}
@media (min-width: 767px) {
    h1 {
        font-size: 32px;
    }
    h2 {
        font-size: 29px;
    }
    h3 {
        font-size: 18px;
    }
    .bg-title-center {
        background-size: 100px 8px;
        background-position: center 26px;
    }
}
@media (min-width: 991px) {
    h1 {
        font-size: 32px;
    }
    h2 {
        font-size: 31px;
    }
    h3 {
        font-size: 20px;
    }
    p {
        font-size: 14px;
    }
    .bg-title-center {
        background-size: 108px 8px;
        background-position: center 29px;
    }
}

@media (min-width: 1199px) {
    h1 {
        font-size: 35px;
    }
    h2 {
        font-size: 35px;
    }
    h3 {
        font-size: 20px;
    }
    .bg-title-center {
        background-size: 150px 8px;
        background-position: center 36px;
    }
}
@media (min-width: 1399px) {
    h1 {
        font-size: 46px;
    }
    h2 {
        font-size: 40px;
    }
    h3 {
        font-size: 22px;
    }
    .bg-title-center {
        background-size: 150px 11px;
        background-position: center 38px;
    }
}