.picture {
    width: 100%;
}

.about-btns {
    display: inline-flex;
    margin-top: 20px;
}
.play {
    line-height: 40px;
    font-size: 40px;
    margin-left: 20px;
    color: linear-gradient(-90deg, #01a0f9, #09c778);
}
.top {
    margin-top: 50px;
}
