
.about-start {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.korteles {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.rightColumn {
    margin-top: 70px;
}

.paragraph {
    margin: 50px;
    margin-top: 90px;
    text-align: left;
}
.pavadinimas {
    text-align: left;
}

.about-start .card {
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
}

@media (max-width: 991px) {.about-start {
    grid-template-columns: 1fr;
}
.paragraph {
    grid-template-columns:  1fr;
}
.rightColumn {
    margin: 0;
}
}
@media (max-width: 765px) { .korteles {
    grid-template-columns: 1fr;
    vertical-align: top;
}
}