.r-animation {
    animation: r-animation 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    vertical-align: center;
  }
  @keyframes r-animation {
    from {transform: translateY(0);}
    to {transform: translateY(-30px);}
  }