.btn {
    display: inline-block;
    padding: 10px 35px;
    background: linear-gradient(150deg, var(--color-blue), var(--color-green));
    color: #fff;
    border-radius: 20px;
    text-transform: uppercase;
    line-height: 20px;
    font-size: 16px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    user-select: none;
}
.btn:hover {
    background: linear-gradient(210deg, var(--color-blue), var(--color-green));   
}

.btn-learn {
    display: inline-block;
    padding: 10px 35px;
    background-color: #fff;
    color: var(--color-blue);
    border-radius: 25px;
    text-transform: uppercase;
    line-height: 20px;
    font-size: 16px;
    text-decoration: none;
    border: 1px solid #fff;
    cursor: pointer;
    user-select: none;
}
@media (max-width: 767px) {
    .btn-learn {
        padding: 7px 20px;
        font-size: 13px;
    }
}
.btn-learn:hover {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
}
.btn-join {
    display: inline-block;
    padding: 10px 35px;
    background-color: transparent;
    color: #fff;
    border-radius: 25px;
    text-transform: uppercase;
    line-height: 20px;
    font-size: 16px;
    text-decoration: none;
    border: 1px solid #fff;
    cursor: pointer;
    user-select: none;
}
@media (max-width: 767px) {
    .btn-join {
        padding: 7px 23px;
        font-size: 13px;
    }
}
.btn-join:hover {
    background-color: #fff;
    color: var(--color-blue);
    border: 1px solid #fff;
}

.btn-submit {
    display: inline-block;
    background-color: #fff;
    color: black;
    border-radius: 5px;
    text-transform: uppercase;
    line-height: 60px;
    font-size: 20px;
    text-decoration: none;
    border: 1px solid #fff;
    cursor: pointer;
    user-select: none;
    height: 60px;
    width: 100%;
    transition: 0.7s;
}
.btn-submit:hover {
    background-color: #fff;
    border: 1px solid #fff;
    color: var(--color-blue);
}

.btn-chatbox {
    position: fixed;
    right: 50px;
    bottom: 50px;    
    padding: 30px 20px;
    background: linear-gradient(150deg, var(--color-blue), var(--color-green));
    color: #fff;
    border-radius: 100%;
    line-height: 20px;
    font-size: 40px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    user-select: none;
    outline: none;
    transition: 0.5s;
    z-index: 1;
}

.btn-chatbox:hover {
    background: linear-gradient(200deg, var(--color-blue), var(--color-green));
}

.start-chat-btn {
    display: inline-block;
    padding: 15px;
    margin: 20px;
    background: linear-gradient(150deg, var(--color-blue), var(--color-green));
    color: #fff;
    border-radius: 30px;
    line-height: 20px;
    font-size: 16px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    user-select: none;
    text-transform: uppercase;
    width: 85%;
    vertical-align: middle;
    outline: none;
}

.start-chat-btn:hover {
    cursor: pointer;
    color: black;

    /* reikia pakeisti black į atitinkamą efektą */
}

.close-chat-btn {
    display: inline-block;
    background-color: transparent;
    border: none;
    outline: none;
}

.close-chat-btn:hover {
    cursor: pointer;
    color: black;
}
