.contactUs > h3 {
    margin-top: 30px;
}

.neuron-contact {
    padding-bottom: 55px;
}

.contactUs {
    background-color: #fff;
    border-radius: 5px;
    margin-top: -100px; 
    padding: 35px 50px 70px;
}

.contact-form .form-field input::placeholder {
    color: #fff;
    opacity: 1;
    font-size: 15px;
}

textarea::placeholder {
    color: #fff;
    opacity: 1;
    font-size: 15px;
}

.contact-form .row {
    margin-left: -15px;
    margin-right: -15px
}

.contact-form {
    width: 100%;
    height: 100%;
    display: inline-block;
    padding-top: 100px;
}

.contact-form .form-field input {
    width: 100%;
    border-radius: 5px;
    border-style: unset;
    background: rgba(255, 255, 255, 0.3);
    color: #ffffff;
    padding: 15px;
    margin: 0 0 30px;   
    outline: none;
    box-shadow: none;
    resize: none;  
}

.form-field {
    width: 100%;
    line-height: 26px;
}

textarea {
    height: 200px;
    width: 100%;
    border-radius: 5px;
    border-style: unset;
    background: rgba(255, 255, 255, 0.3);
    color: #ffffff;
    padding: 20px;
    margin: 0 0 30px;   
    outline: none;
    box-shadow: none;
    resize: none; 
}

.pt-100 {
    padding-top: 100px;
}

.pr-30 {
    padding-right: 30px;
    }

.pl-30 {
    padding-left: 30px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

::selection {
background: #01a0f9;
text-shadow: none;
color: #ffffff;
}

.contact-bg-left {    
    background: linear-gradient(90deg, #01a0f9 45%, #09c778 55%);
    background-repeat: no-repeat;
    background-size: 108px 8px;
    background-position:  0 75%;
    z-index: -1;
}

.contactUs a:link {
    color: #666666;
    background-color: transparent;
    text-decoration: none;
}

.contactUs a:hover {
    background-color: #fff;
    color: var(--color-green);
    transition: 0.5s;
}

.contact-icons {
    padding-top: 30px;
    display: inline-flex;
    width: 100%;
}

.icon-part {
    width: 40px;
    height: 80px;
    display: inline-block;
    background: linear-gradient(180deg, #09c778, #01a0f9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    font-size: 30px;
}

.contact-us-icon {
    background: linear-gradient(180deg, #01a0f9, #09c778);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    font-size: 100px;
}

.text-part {
    display: inline-block;
}