.container.bg-hero {
  position: relative;
  top: -129px;
  padding-bottom: 117px;
  background-size: cover;
}
.text1 {
  color: #fff;
  font-weight: 600;
  letter-spacing: 2px;
  
}
.text2 {
  color: #fff;
  line-height: 30px;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
}

@media (max-width: 767px) {
.hide {
  display: none;
}
.pt-hero-small {
  padding-top: 169px;
}
}

@media (min-width: 767px) {
  .pt-lg {
      padding-top: 300px;
  }
  .pt-hero-large {
    padding-top: 209px;
  }
  .pb-lg {
      padding-bottom: 100px;
  }
  }

@media (max-width: 991px) {
  .photos {
    display: inline-block;
    width: 100%;
    max-width: 100px;
    height: auto;
  }
}

  @media (min-width: 991px) {
.photos {
  display: inline-block;
  width: 100%;
  max-width: 220px;
  height: auto;
}
}

.pt50 {
  padding-top: 50px;
}
  