#loading {
    background-image: linear-gradient(-41deg, #09c778, #01a0f9);
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    margin-top: 0px;
    top: 0px;
    z-index: 999999;
  }