.project-cards {
    display: grid;
    grid-template-columns: 1fr;
    align-items: start;
    gap: 10px 10px;
    margin-left: 25px;
    margin-right: 25px;
}
.project-card {
    float: left;
    width: 350px;
    height: 370px;
    vertical-align: top;
    border-radius:  5px;
    position: flex;


}
.project-bg1 {
    background: url('../../img/project/1.jpg');
    background-repeat: no-repeat;
    background-position: center;
}
.project-bg2 {
    background: url('../../img/project/3.jpg');
    background-repeat: no-repeat;
    background-position: center;
}
.project-cards > .project-card > a {
    display: none;
    font-size: 20px;
    font-weight: 700;
    position: absolute;

    top: 90%;
    z-index: 20;
}
.project-cards > .project-card:hover > a {
    display: block;
    position: relative;
    margin-left: 30px;
    color: #fff;

}
.project-cards > .project-card > a:hover {
    color: #000;
}

@media (max-width: 574px) {
    .project-cards {
      grid-template-columns: 1fr;
    }
    .project-card {
        width: 470px;
        height: 400px;
    }
}
@media (min-width: 575px) {
    .project-cards {
      grid-template-columns: 1fr;
    }
    .project-card {
        width: 470px;
        height: 400px;
    }
}

@media (min-width: 767px) {
    .project-cards {
      grid-template-columns: 1fr 1fr;
      gap: 10px 30px;
    }
    .project-card {
        width: 310px;
        height: 330px;
        
    }
}
  
  @media (min-width: 991px) {
    .project-cards {
      grid-template-columns: 1fr 1fr 1fr;
      gap: 10px 15px;
    }
    .project-card {
        width: 280px;
        height: 340px;
    }
}
@media (min-width: 1199px) {
    .project-cards {
      grid-template-columns: 1fr 1fr 1fr;
    }
    .project-card {
        width: 345px;
        height: 370px;
    }
}
@media (min-width: 1400px) {
    .project-cards {
      grid-template-columns: 1fr 1fr 1fr;
    }
    .project-card {
        width: 370px;
        height: 395px;
    }
}
