.card-bg-grey {
    background-color: #EFF1F7;
}
.card-bg-white {
    background-color: #fff;
    transition: all 0.7s easy 0s;
}
.card {  
    float: left;
    border-radius: 10px;
    margin: 20px;
    vertical-align: top;
    padding: 30px 15px;   
}
.cardFaIcon {
    font-size: 60px;
    margin: 0px;
    background: -webkit-linear-gradient(-90deg, #01a0f9, #09c778);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.7s easy 0s;
}
.card-bg-white:hover {
    background: linear-gradient(-41deg, #09c778, #01a0f9);
    color: #fff;
    transition: all 0.7s easy 0s;

}
.card-bg-white:hover > .cardFaIcon {
    font-size: 60px;
    background: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.7s easy 0s;
}

.card-bg-white:hover > h3 {
    color: #fff; 
    transition: all 0.7 easy 0s; 

}
.card-bg-white:hover > p {
    color: #fff;  
    transition: all 0.7 easy 0s;
}